# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# VS Code
.vscode/

# Flutter/Dart/Pub
.dart_tool/
.packages
build/
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/Flutter/flutter_export_environment.sh
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# Android
android/gradle/
android/local.properties
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat

# Agent Tools
.gemini/tmp/
.qwen/tmp/
